a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #2b2e35;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p {
  font-weight: 500;
}
button {
  border: none;
  cursor: pointer;
  font-weight: 700;
}
h1 {
  font-size: 50px;
  line-height: 60px;
}
h2 {
  font-size: 40px;
  line-height: 48px;
}
h3 {
  font-size: 24px;
  line-height: 36px;
}
h4 {
  font-size: 18px;
  line-height: 23.4px;
}
p {
  font-size: 18px;
  line-height: 25.2px;
  color: #777777;
}
p span {
  color: #2b2e35;
}
.paragraph {
  font-size: 16px;
  line-height: 22.4px;
}
@media screen and (max-width: 1280px) {
  h1 {
    font-size: 34px;
    line-height: 40px;
  }
  h2 {
    font-size: 26px;
    line-height: 31.2px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 12px;
    line-height: 15.6px;
  }
  p {
    font-size: 12px;
    line-height: 16.8px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
    line-height: 28.8px;
  }
  h2 {
    font-size: 18px;
    line-height: 21.6px;
  }
  h4 {
    font-size: 12px;
    line-height: 15.6px;
  }
  .paragraph {
    font-size: 12px;
    line-height: 16.8px;
  }
}
.page {
  max-width: 1920px;
  width: 100%;
  font-family: "Manrope", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  padding-left: calc((100% - 1360px) / 2);
  padding-right: calc((100% - 1360px) / 2);
}
@media screen and (max-width: 1280px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/*title*/
.title {
  color: #2b2e35;
}
.title span {
  color: #ff4002;
}

/*hero*/
.hero {
  display: flex;
  background: #f6f6f6;
  position: relative;
}
@media screen and (min-width: 767px) and (max-width: 1280px) {
  .hero__title {
    font-size: 16px;
    line-height: 24px;
  }
}

.hero__wrapper {
  position: relative;
  max-width: 1360px;
  width: 100%;
  display: flex;
  padding-left: 280px;
  padding-right: 280px;
}
@media screen and (max-width: 1280px) {
  .hero__wrapper {
    padding-right: 0;
    padding-left: 24px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .hero__wrapper {
    padding-right: 12px;
    padding-left: 12px;
  }
}
.hero__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 153px;
  margin-bottom: 174px;
}
@media screen and (max-width: 1280px) {
  .hero__inner {
    width: 350px;
    flex-direction: column;
    gap: 15px;
    margin-top: 33px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 767px) {
  .hero__inner {
    width: 296px;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 16px auto;
  }
}
.hero__item-left {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 1280px) {
  .hero__item-left {
    max-width: 350px;
    gap: 18px;
  }
}
@media screen and (max-width: 767px) {
  .hero__item-left {
    max-width: 296px;
    gap: 12px;
    text-align: center;
  }
}

.hero__item-box {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (max-width: 1280px) {
  .hero__item-box {
    gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .hero__item-box {
    gap: 12px;
    align-items: center;
  }
}
.hero__cashback {
  display: flex;
  gap: 5px;
}
.hero__icon {
  width: 56px;
  height: 56px;
}
@media screen and (max-width: 1280px) {
  .hero__icon {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 767px) {
  .hero__icon {
    width: 32px;
    height: 32px;
  }
}
.hero__box-cashback {
  font-size: 24px;
  line-height: 36px;
  width: 255px;
  height: 56px;
  border-radius: 10px;
  background: #2b2e35;
  color: #ffffff;
}
@media screen and (max-width: 1280px) {
  .hero__box-cashback {
    width: 128px;
    height: 35px;
    font-size: 12px;
    line-height: 18.85px;
    border-radius: 6px;
  }
}
@media screen and (max-width: 767px) {
  .hero__box-cashback {
    width: 128px;
    height: 32px;
    line-height: 15.6px;
  }
}
.hero__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 1280px) {
  .hero__text {
    gap: 5px;
  }
}

.hero__item-right {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 92px;
}
@media screen and (max-width: 1280px) {
  .hero__item-right {
    gap: 12px;
    margin-top: 7px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .hero__item-right {
    gap: 14px;
  }
}
.hero__text-right {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 1280px) {
  .hero__text-right {
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 12px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 6.955702304840088px 2.782280921936035px 30px 0px #0000001a;
  }
}
.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 350px;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background: #ff4002;
  color: #ffffff;
  font-size: 16px;
  line-height: 21.86px;
}
@media screen and (max-width: 1280px) {
  .hero__button {
    font-size: 12px;
    line-height: 16.39px;
    height: 48px;
  }
}
@media screen and (max-width: 1280px) {
  .hero__button-icon {
    width: 10.4px;
    height: 13px;
  }
}

.hero__image {
  position: absolute;
  right: 668px;
  width: 755px;
  height: 650px;
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
}
@media screen and (max-width: 1280px) {
  .hero__image {
    display: none;
  }
}
.hero__image-tablet {
  display: none;
}
@media screen and (max-width: 1280px) {
  .hero__image-tablet {
    display: block;
    background-image: url(../images/hero-bg-table.png);
    background-repeat: no-repeat;
    width: 365.93px;
  }
}
@media screen and (max-width: 767px) {
  .hero__image-tablet {
    display: none;
  }
}
.hero__image-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .hero__image-mobile {
    display: block;
    background-image: url(../images/hero-bg-mobile.png);
    background-repeat: no-repeat;
    width: 230.28px;
    height: 255px;
    margin-top: 14px;
    margin-bottom: -25px;
  }
}

/*completed*/
.completed {
  padding-top: 120px;
  padding-bottom: 180px;
}
@media screen and (max-width: 1280px) {
  .completed {
    padding-top: 80px;
    padding-bottom: 100.5px;
  }
}
@media screen and (max-width: 767px) {
  .completed {
    padding-top: 60px;
  }
}
.completed__text {
  max-width: 742px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1280px) {
  .completed__text {
    gap: 32px;
  }
}
@media screen and (max-width: 767px) {
  .completed__text {
    gap: 24px;
  }
}
.completed__tab-item {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1280px) {
  .completed__tab-item {
    gap: 14px;
  }
}
@media screen and (max-width: 767px) {
  .completed__tab-item {
    overflow: auto;
    gap: 5px;
  }
}
.completed__tab {
  background: #f6f6f6;
  font-size: 16px;
  line-height: 16px;
  border-radius: 10px;
  color: #2b2e35;
  padding: 20px 25px;
  white-space: nowrap;
}
.completed__tab.active {
  background: #2b2e35;
  color: #ffffff;
}
@media screen and (max-width: 1280px) {
  .completed__tab {
    font-size: 12px;
    line-height: 15.6px;
    border-radius: 5px;
    padding: 12px 18px;
  }
}
.completed__card {
  max-width: 433.33px;
  /* height: 439px; */
  display: flex;
  flex-direction: column;
  gap: 31px;
}
@media screen and (max-width: 1280px) {
  .completed__card {
    max-width: 296px;
    gap: 18px;
  }
}
.completed__card-img {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 300px;
}

.completed__card-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #d4d4d4;
  bottom: -19px;
}
@media screen and (max-width: 1280px) {
  .completed__card-img::before {
    bottom: -9px;
  }
  .completed__card-img {
    height: 260px;
  }
}
.completed__image {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1280px) {
  .completed__image {
    height: 260px;
  }
}
.completed__txt-item {
  display: flex;
}
.completed__card-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 1280px) {
  .completed__card-item {
    gap: 8px;
  }
}
.completed__card-txt {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 228.33px;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .completed__card-txt {
    max-width: 154px;
  }
}
.completed__card-txt.left {
  align-items: end;
}
.completed__over {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 228.33px;
  width: 100%;
}
.completed__button {
  background: #ff4002;
  color: #ffffff;
  border-radius: 6px;
  width: 173px;
  height: 46px;
}
@media screen and (max-width: 1280px) {
  .completed__button {
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 16.39px;
  }
}
.completed__swiper-scrollbar {
  display: none;
}
@media screen and (max-width: 1280px) {
  .completed__swiper-scrollbar {
    display: block;
    border: #2b2e35 !important;
    height: 1px !important;
  }
}
.left-swiper-button-prev,
.right-swiper-button-next {
  width: 40px;
  height: 40px;
}
.left-swiper-button-prev {
  background-image: url(../icons/лево.svg);
}
.right-swiper-button-next {
  background-image: url(../icons/право.svg);
}
/*completed__swiper*/
.completed__swiper {
  max-width: 1360px;
  width: 100%;
  position: relative;
  display: none !important;
}
.completed__swiper.active {
  display: block !important;
}
@media screen and (max-width: 1280px) {
  .completed__swiper {
    padding-bottom: 36px;
  }
}
@media screen and (max-width: 1280px) {
  .completed__swiper {
    padding-bottom: 30px;
  }
}
.swiper-button-box {
  display: flex;
  gap: 10px;
  align-self: end;
}
@media screen and (max-width: 1280px) {
  .swiper-button-box {
    display: none;
  }
}
.left-swiper-button-prev,
.right-swiper-button-next {
  width: 40px;
  height: 40px;
}
.left-swiper-button-prev {
  background-image: url(../icons/лево.svg);
}
.right-swiper-button-next {
  background-image: url(../icons/право.svg);
}
.swiper-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (max-width: 1280px) {
  .swiper-top {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-top {
    margin-bottom: 24px;
  }
}

/*design*/
.design {
  background: #f6f6f6;
}
.design__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 1280px) {
  .design__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .design__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.design__top {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .design__top {
    flex-direction: column;
    gap: 22px;
  }
}
.design__left {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1280px) {
  .design__left {
    max-width: 345px;
  }
}
@media screen and (max-width: 767px) {
  .design__left {
    gap: 9px;
  }
}
.design__right {
  max-width: 579px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .design__right {
    max-width: 345px;
  }
}
.design__right-top {
  display: flex;
  gap: 20px;
}
.design__right-img {
  width: 144px;
  height: 144px;
}
@media screen and (max-width: 1280px) {
  .design__right-img {
    width: 65px;
    height: 65px;
  }
}
@media screen and (max-width: 767px) {
  .design__right-img {
    width: 50px;
    height: 50px;
  }
}
.design__right-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.design__right-btn {
  width: 415px;
  height: 72px;
  border-radius: 12px;
  background: #2b2e35;
  color: #ffffff;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 23px;
}
@media screen and (max-width: 1280px) {
  .design__right-btn {
    width: 345px;
    height: 56px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 16.39px;
    bottom: -10px;
  }
}
@media screen and (max-width: 767px) {
  .design__right-btn {
    width: 296px;
    position: inherit;
  }
}
.design__span {
  max-width: 192px;
  width: 100%;
  text-align: left;
}
.design__icons {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  box-sizing: border-box;
}
@media screen and (max-width: 1280px) {
  .design__icons {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 767px) {
  .design__icons {
    width: 30px;
    height: 30px;
  }
}
.design__icon {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 2;
}
.design__icon-top {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
  right: 24px;
}
@media screen and (max-width: 1280px) {
  .design__icon-top {
    right: 20px;
  }
}
@media screen and (max-width: 1280px) {
  .design__icon,
  .design__icon-top {
    width: 30px;
    height: 30px;
    transition: all 0.5 ease-in;
  }
}
.design__icon,
.design__icon-top:hover {
  z-index: 2;
}
